.header{
    background-color:darkcyan;
    color: white;
    display: flex;
    justify-content: space-between;

}

    .container{
    max-width: width 1000px;
    flex: 1;
    margin:0 auto;
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    height: inherit;
    flex-wrap: inherit;
    padding: 0 1em;}

.descarga{
    height: 300px;
    /*background-image:url (descarga.jfif);*/
    background-color: blue;
    background-size: 400px 300px;
    background-repeat: no-repeat;
    background-position-x: right;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}


.juan-jose {
    display: flex;
    background-color: black;
    color: white;
    justify-content: space-between;

} 
.menu{
    height: inherit;
}

.header ol{
    display: flex;
    height: inherit;
}

.header ol li {
    height: inherit;
    display: flex;
    align-items: center;
}

.header a{
    display: flex;
    align-items: center;
    height: inherit;
    padding: 0 10px;
    text-decoration: none;
    padding-top: 30px;
    color: white;
}

ol, ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

.figure{
    margin: 0px;
}



.portafolio{
    display: block;
    color:black;
    border:10px solid blue;
    
    
}

.project{
    color: darkblue;
    text-align:left;
    display: flex;
    justify-content: space-between;
    

}


.event-list {
	display: flex;
	flex-wrap: wrap;
}

.event {
	
	margin: 1%;
	width: 48%;
	flex-shrink: 0;
	/*border-radius: 5px;*/
	overflow: hidden;
	background: rgba(14,60,187,1.00);
}

.event img {
	
	height: 250px;
	object-fit: cover;
	width: 100%;
}

.html-video {
	height: auto;
	object-fit: cover;
	width: 100%;
}

.flexible-video {
	width: 100%;
	height: 0;
	padding-top: 56.25%;
	background: blue;
	position: relative;
}

.youtube-video {
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	
}
.event-details {
	margin: 20px 40px; 
	background-color: white;
	margin-top: -40px;
	position: relative;
	padding: 20px;
	text-align: center;

}



.event-url {
	border: 1px solid blue;
	padding: 5px 20px;
	text-decoration: none;
	color: blue;
	border-radius: 5px;
}

.event-list-title {
	margin-left: 10px;
}


.contact {
	display: flex;
	background-color: #056fff;
	color: white;
	height: 150px;
	justify-content: space-between;
	flex-wrap: wrap;
	
}


.social {
	
	display: flex;
	align-items: center;
	
} 

.social-link {
	display: flex;
	width: 50px;
	height: 50px;
	/*border: 1px solid white;*/
	margin: 0 10px;
	background-size: 50px 50px;
	border-radius: 150px;
}

.social-link.instagram {
	background-image: url(it.png);
	
}
.social-link.facebook {
	background-image: url(fb.png);
	
}

.social-link.twitter {
	background-image: url(tt.png)
	
}

.form-email {
	padding: 5px;
}

.form-email input {
	border-color: gray;
	border-style: solid;
	border-radius: 5px;
	padding: 10px 20px 10px 25px;
}

.form-email button {
	display: block;
	margin-top: 10px;	
	background: transparent;
	color: white;
	padding: 5px 0;
	width: 100px;
	/*margin: 10px auto 0;*/
	border-color: white;
	border-style: solid;
	border-radius: 5px;
}



.form-email h3{
    font-family: "source sans pro", sans-serif;
}


.footer{
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content:space-between;
    flex-wrap: wrap;
  }



  
  @media screen and (max-width:1023px) {
	
	.container {
		padding: 0 1em;
	}
	
	.mauro {
		height: auto;
		position: relative;
		overflow: hidden;
		padding: 2em;
		
	}
	
	.mauro-image {
		
		z-index: 1;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		width: 50%;
		
		
	}
	
	h1 {
		font-size: 2em;
		z-index: 2;
	}
}

@media screen and (max-width: 767px) {
	
	.burger-button{
		display: block;
	}
	
	.header{
		
		display: block;
		height: auto;
	}
	
	.header ol {
		display: block;
	}
	
	.header ol li {
		height: 40px;
		display: block;
	}
	
	.header a {
	 	 justify-content: center;
	 	 height: 40px;
	 	 font-size: 2em;
		text-decoration: underline;
		margin-bottom:  .5em;
	}
	
	.header .logo {
		text-align: center;
		
	}
	
	.menu {
		position: fixed;
		background: rgba(5, 111, 255, .9);
		z-index: 3;
		top:0;
		left: -100vw; /*Para que el menu se oculte a la izquierda y se muestre al hacer click */
		width: 100vw;
		bottom: 0; 
		/*height: 100vh; *//* a partir de aquí para centrar */
		display: flex;
		align-items: center;
		justify-content: center;
		transition: .3s; /*crea efecto de transicion */
	}
	
	.menu.is-active {
		left: 0;
	}
	
	.project { 
		display: block;
	}
	
	.project-details {
		width: auto;
	}
	
	.project-imageContainer {
		width: auto;
		text-align: center;
		
	}
	
	.project-description {
		font-size: .8em;
	}
	
	.event {
		width: 95%;
		flex-shrink: initial;
		text-align: center;
	}
	
	.event img {
		width: 95%;
	}
	
	.event-details {
		margin: -40px 10px 10px 10px; 
	}
	
}
@media screen and (max-width:480px) {
	
	h1 {
		font-size: 1.5 em;
	}
	.event-details {
		/* 1em= 16px */
		margin: -2em .5em .5em;
		padding: 1em;
	}
	
	.contact {
		height: auto;
		padding: 1em 0;
		display: block;
		text-align: center;
	}
	
	.social {
		display: flex;
		justify-content: center;
	}
	
	.form-email button{
		margin:1em auto;
		
	}
	
	.footer {
		display: block;
		text-align: center;
		border: 1px solid transparent;
	}
	
}
@media screen and (max-width:320px) {
	
	h1 {
		font-size: 1.2em;
		padding: 3em 1em;
		/*background: rgba(0,0,0,0.5);*/
	}
	
	}
